@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

header {
     height: 30%;
     box-shadow: 0 1px 2px #0142429f;
}

::-webkit-scrollbar {
    display: none;
}

.image-container {
    display: flex;
    align-items: flex-end; 
    height: 100vh;
    width: auto;
}

.background-image {
    background-image: url('https://i.imgur.com/029iEhb.jpg');
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    justify-content: center;
    flex-direction: row;
    font-family: 'Pacifico', cursive;
    object-fit: contain;
    overflow: hidden;
}

.background-image > h3 {
    width: 100%;
    font-size: 4rem;
    text-shadow: 2px 2px gray;
    text-align: center;
    color: #e3fdfdfd;
    padding-top: 30px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #014242;
    box-shadow: 0 1px 2px #0142429f;
    object-fit: contain;
    height: 85px;
}

@media (max-width: 900px) {
    .header-container {
        height: 10vw;
    }
    .background-image > h3 {
        font-size: 3rem;
    }
}

.subheader {
    box-shadow: 0 1px 2px #0142429f;
}
