* {
    box-sizing: border-box;
}

.form-container {
    display: flex;
    height: 552px;
    width: 100%;
    justify-content: center;
    background-image: url('https://i.imgur.com/029iEhb.jpg');
    vertical-align: text-top;
    background-size: cover;
    background-repeat: no-repeat;
}

.sign-up {
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;
    background-color: white;
    width: 420px;
    height: 500px;
    align-self: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 1px 7px #0142429f;
}

.sign-up > h2 {
    font-family: 'Baloo', cursive;
    color: #016969;
    text-align: center;
    font-size: 40px;
    padding-bottom: 15px;
}

.sign-up input {
    display: block;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    color: #016969d5;
    height: 30px;
    width: 280px;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: white;
    border: 1px solid white;
}

.login-link {
    width: 300px;
    justify-content: center;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    padding-top: 25px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #006161d2;
} 

.login-link:hover {
    cursor: pointer; 
} 

.signup-link {
    width: 300px;
    justify-content: center;
    text-align: center;
    font-style: italic;
    padding-top: 30px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #006161d2;
} 

.signup-link:hover {
    cursor: pointer;
} 

.login {
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;
    background-color: white;
    width: 420px;
    height: 480px;
    align-self: center;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 1px 7px #0142429f;
}

.login > h2 {
    font-family: 'Baloo', cursive;
    color: #016969;
    text-align: center;
    font-size: 40px;
    padding-bottom: 15px;
}

.login input {
    display: block;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    color: #016969d5;
    height: 35px;
    width: 280px;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: white;
    border: 1px solid white;
}

.field {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px;
}

.field-label {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: rgba(128, 128, 128, 0.482);
    padding-left: 10px;
    font-size: 14px;
}

.field:hover {
    border: 1px solid #014242a1;
}

input:focus {
    outline: none;
}

#submit {
    color: rgba(0, 0, 0, 0.644);
    background-color: lightgray;
    width: 300px;
    margin-top: 15px;
    border-radius: 10px;
    justify-items: center;
    text-align: center;
}

#submit:hover {
    cursor: pointer;
}
